# SPDX-FileCopyrightText: 2026 Bree Spektor
# SPDX-FileCopyrightText: 2026 Latte Dock contributors
# SPDX-License-Identifier: GPL-2.0-or-later
[Desktop Entry]
Type=Application
Name=Launcher Wheel Rate Fixture
Exec=@BASH@ @LAUNCHER@
Icon=application-x-executable
Terminal=false
StartupNotify=false
